mixin field(params)
    - var fieldType = params&&params.fieldType?params.fieldType:'text';
    - var codeName = params&&params.codeName?params.codeName:'';
    +b.field(class='_'+fieldType)
        if (fieldType === 'select')
            +e.LABEL.label(for=codeName)= params.label
            +e.item
                +e.inputs
                    +e.SELECT.select(data-placeholder='' data-necessary='' name=codeName)
                        option
                    +e.select-options
                        each option in params.options
                            +e.option(value=option.value)
                                +e.SPAN.option-inner
                                    +e.SPAN.option-name= option.name
                                    if option.price
                                        +e.SPAN.option-price= option.price
                                            span.rub ₽
        else if (fieldType === 'tel')
            +e.LABEL.label(for=codeName)= params.label
            +e.item
                +e.inputs
                    +e.INPUT.input._phone(name=codeName type=fieldType data-necessary=params.required placeholder=params.label)
        else if (fieldType === 'radio')
            +b.field._radio
                +e.item
                    +e.inputs
                        each option in params.options
                            +b.LABEL.radio
                                +e.INPUT.input(type='radio' name=codeName value=option.value checked=option.checked)
                                +e.label= option.name
        else
            +e.LABEL.label(for=codeName)= params.label
            +e.item
                +e.inputs
                    +e.INPUT.input(name=codeName type=fieldType data-necessary=params.required placeholder=params.label)
        +e.message
            +e.none Заполните поле
            +e.error Поле заполнено некорректно